<a href="https://colab.research.google.com/github/Jorge-delangel/Programming-in-Python/blob/main/CA1_JorgeDelAngel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

**Section A: Multiple Choice & Short Answer Questions (20 Marks)**

**(Answer all questions. 10 questions x 2 marks each)**

1.  What is the output of `print(15 % 4)`?
    a) 3.75
    b) 3
    c) 4
    d) 0

In [1]:
print(15 % 4) # B)

3

2.  Which statement about Python lists is TRUE?
    a) Lists are immutable.
    b) Lists can only store elements of the same data type.
    c) List elements are accessed using keys.
    d) Lists are ordered collections and allow duplicate elements.

In [ ]:
# D)

3.  What is the result of the boolean expression `(10 < 5) or not (5 == 5)`?
    a) True
    b) False
    c) Error
    d) None

In [ ]:
# B)

4.  What is the output of the following code?
    ```python
    my_string = "abcdef"
    print(my_string[-3:])
    ```
    a) `abc`
    b) `def`
    c) `cde`
    d) `bcd`

In [2]:
my_string = "abcdef"
print(my_string[-3:]) # B)

def

5.  When calling a function `calculate(a, b)`, what are `a` and `b` referred to within the function's definition `def calculate(x, y):`?
    a) Arguments
    b) Parameters (or Formal Parameters)
    c) Variables
    d) Keywords

In [ ]:
# A)

6.  What does the `continue` keyword do inside a loop?
    a) Exits the loop entirely.
    b) Skips the rest of the current iteration and proceeds to the next one.
    c) Raises an error.
    d) Pauses the loop indefinitely.

In [ ]:
# B)

7.  How do you insert the number `100` at index `2` in a list called `data`?
    a) `data.append(2, 100)`
    b) `data.add(2, 100)`
    c) `data.insert(2, 100)`
    d) `data[2] = 100` (This replaces, not inserts)

In [4]:
# C)

8.  What will `print("Python is fun".startswith("python"))` output?
    a) True
    b) False
    c) 0
    d) 1

In [5]:
# B)

False

9.  Briefly explain the difference between the `break` and `continue` statements within a loop. (2 Marks)
    *   *Answer area:* Break ends the loop definitely while Continue skips the rest of the interation and proceeds to the next one.

10. What is the output of the following code snippet?
    ```python
    x = 5
    result = 1
    while x > 1:
        result *= x # result = result * x
        x -= 2 # x = x - 2
    print(result)
    ```
    a) 120
    b) 20
    c) 15
    d) 5

In [6]:
# C)

15

---

**Section B: Code Comprehension & Debugging (20 Marks)**

1.  **Predict the Output:** What will the following code print? Explain the flow briefly. (6 Marks)
    function isinstance(item, data_type) checks if item belongs to the mentioned data_type or not and returns true or false   boolean value.

In [10]:
def update_list(items):
    processed = [] # Create an emty list
    for item in items: # Iterate through the values or arguments
        if isinstance(item, int): # If the item is a integer
            if item % 2 == 0: # This line discriminates between numbers of items that are being divided by 2; their remainder is different from 0
                processed.append(item // 2) # Divide by 2 and return a integer
            else:
                Processed.append(item + 1) # Add 1 to the numbers who did not were proceeced previously.
        elif isinstance(item, str): # Take the string items
             if len(item) > 3: # If they are longer than 3 chars
                 processed.append(item[0:3]) # This adds to the list just the first 3 chars of the item.
             else:
                 continue # Skip short strings
        # Ignore other types
    return processed

values = [10, "abc", 5, "python", 3.14, 8, "is"]
print(update_list(values))

[5, 6, 'pyt', 4]

2.  **Debugging:** The following function is intended to find the maximum value in a list of numbers. Find and fix the two main logical errors. Assume the list contains at least one number and all elements are numbers (int or float). (8 Marks)

In [46]:
def find_maximum(numbers):
  # Error 1: Potential issue if list contains only negative numbers
  max_val = 0
  for i in numbers: # Error 2: Comparing index 'i' instead of element numbers[i]
     if i > max_val:
        max_val = i
  return max_val

# Example usage (for testing):
nums1 = [1, 5, 20.5, 9, 3]
print(find_maximum(nums1)) # Should print 9
nums2 = [-5, -2, -8, -2]
print(find_maximum(nums2)) # Should print -1

20.5
0

3.  **Predict the Output:** What will the following code print? (6 Marks)

In [ ]:
# Answer: Dt_Scnc The programe is adding a _ for every space and it's omitting the consonants as well is transforming every chars to lowercase.

---

**Section C: Short Coding Problems (30 Marks)**

1.  **Filter List by Length:** Write a Python function `filter_by_length(strings_list, min_length)` that takes a list of strings `strings_list` and an integer `min_length` as input. The function should return a *new* list containing only the strings from the original list that have a length greater than or equal to `min_length`. (10 Marks)

    *   *Example:* `filter_by_length(["apple", " Grapes  ", "kiwi", "banana"], 5)` should return `['apple', ' Grapes  ', 'banana']`. (Note: Whitespace counts towards length unless stripped).
    *   *Example:* `filter_by_length(["a", "b", "c"], 2)` should return `[]`.
    *   *Example:* `filter_by_length([], 3)` should return `[]`.

In [50]:
def filter_by_length(strings_list, min_length):
    new_list = [] # Create a list to containt the elements
    for string in strings_list: # Go through the elements in the list
        if len(string) >= min_length: # If they are longer than the min_legth
            new_list.append(string) # This one is added to the new_list
    return new_list # return the new_list

filter_by_length(["apple", " Grapes ", "kiwi", "banana"], 4)

['apple', ' Grapes ', 'kiwi', 'banana']

2.  **Character Counter:** Write a Python function `count_char_occurrences(text, char_to_count)` that takes a string `text` and a single character `char_to_count` as input. The function should return the number of times `char_to_count` appears in the `text`, ignoring case (i.e., count both uppercase and lowercase occurrences of the character). (10 Marks)

    *   *Example:* `count_char_occurrences("Programming is Fun", 'g')` should return `2`.
    *   *Example:* `count_char_occurrences("Hello World", 'L')` should return `3`.
    *   *Example:* `count_char_occurrences("Python", 'z')` should return `0`.

In [54]:
def count_char_occurrences(text, char_to_count):
    count = 0 # Create a counter
    text = text.lower() # Transform the text to lowercase
    char_to_count = char_to_count.lower() # Transform the char_to_count to lowercase

    for char in text: # Iterates through each char in the text
      if char in char_to_count: # If char is in the char_to_count
        count += 1 # 1 is added to the count variable
    return count

count_char_occurrences("Hello World", 'L')

3

3.  **Palindrome Check:** Write a Python function `is_palindrome(text)` that takes a string `text` as input. The function should return `True` if the `text` is a palindrome and `False` otherwise. A string is a palindrome if it reads the same forwards and backwards. The comparison should be **case-insensitive**, and **spaces should be ignored**. (10 Marks)

    *   *Example:* `is_palindrome("Racecar")` should return `True`.
    *   *Example:* `is_palindrome("A man a plan a canal Panama")` should return `True`.
    *   *Example:* `is_palindrome("hello")` should return `False`.
    *   *Example:* `is_palindrome("")` should return `True` (an empty string reads the same forwards and backwards).
    *   *Example:* `is_palindrome("a")` should return `True`.
    *   *Hint:* You might want to process the string first (lowercase, remove spaces) before checking if it equals its reverse.

In [74]:
def is_palindrome(text):
  text = text.lower()
  text = text.replace(" ", "")
  return text == text[ : :-1]

is_palindrome("A man a plan a canal Panama")

True

---

**Section D: Longer Programming Problems (30 Marks)**

  1.  **File Number Aggregator:**
    You have a text file named `numbers.txt`. Each line in the file is intended to contain a single number (integer or float), but some lines might be empty or contain non-numeric text.
    ```
    # Example content of numbers.txt
    10
    25.5
    -5

    abc
    15
    42.0
    invalid
    ```
    Write a Python function `aggregate_numbers_from_file(filepath)` that takes the `filepath` (string) of the numbers file as input. The function should:
    a.  Read the file line by line.
    b.  Handle potential `FileNotFoundError`. If the file is not found, print "Error: File not found." and return `None`.
    c.  For each line, attempt to convert the content to a float.
    d.  Use `try-except` to handle `ValueError` if a line cannot be converted to a float (this includes empty lines after stripping). If an error occurs, print a warning "Warning: Skipping invalid data on line: [line content]" and skip that line.
    e.  Calculate the sum and count of all the *valid* numbers read from the file.
    f.  Return a tuple `(total_sum, valid_count)`. If no valid numbers are found (or the file is empty/not found), return `(0.0, 0)`.
    (30 Marks)

    *   *Example:* If `numbers.txt` contains the data above, `aggregate_numbers_from_file("numbers.txt")` should print warnings for the empty line, "abc", and "invalid" lines, and return:
        `(87.5, 4)` (Sum = 10 + 25.5 - 5 + 15 + 42.0 = 87.5; Count = 5 valid numbers. Wait, the example shows 4 valid numbers after conversion error handling... let's re-evaluate. `10`, `25.5`, `-5`, `15`, `42.0` seem valid. Sum = 10+25.5-5+15+42 = 87.5. Count = 5. The example output in the thought process was wrong, corrected here.) -> Corrected Example Output: `(87.5, 5)`

In [94]:
def aggregate_numbers_from_file(numbers):
  total_sum = 0
  valid_count = 0

  for item in numbers:
    if isinstance(item, int):
      total_sum += item
      valid_count += 1
    else:
      try:
        total_sum += float(item)
        valid_count += 1
      except ValueError:
        print(f"Warning: Skipping invalid data on line: {item}")
      continue
  return (total_sum, valid_count)

numbers = [10, 25.5, -5, " ", "abc", 15, 42.0, "invalid"]


aggregate_numbers_from_file(numbers)

Warning: Skipping invalid data on line:
Warning: Skipping invalid data on line: abc
Warning: Skipping invalid data on line: invalid

(87.5, 5)